*{ /*RESET*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease;
}

html{
    font-family: 'Noto Sans', sans-serif;
}

/* COMPONENTS */

.btn{
    position: relative;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
}


.btn  .content, .btn  .dropup{
    display: inline-block;
}

.dropup{
    padding: 5px;
}

.dropup i{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: .8rem;
}

.btn .content{
    padding: 5px;
}

.btn.btn-drop  .content{
    padding: 5px;
    border-right: 1px solid #222222;
}

.content > .label{
    font-size: .8rem;
}

.content > i{
    font-size: 1.5rem;
    margin-bottom: 3px;
}


.btn.btn-light{
    background-color: #4a4a4a;
}

.btn.btn-light:hover{
    background-color: #8b8b8b;
}

.btn.btn-dark{
    background-color: transparent;
}

.btn.btn-dark:hover{
    background-color: #4a4a4a;
}

.btn.btn-drop.btn-dark:hover .content{
    border-right: 1px solid rgb(54, 54, 54);
}


.btn.small{
    font-size: .8rem;
}

.btn.dropdown::after{
    content: '\f0d7';
}




/* COLORS */

.bg-darkgrey{background-color: #222222;}
.bg-grey{background-color: #4a4a4a;}
.text-green{color: rgb(63, 168, 63);}



/* LAYOUT */

.fs-wrapper{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: black;
}

.wrapper{
    width: 97vw;
    margin: auto;
}

.row-fix{
    padding-top: 80px;
    padding-bottom: 100px;
}

.row{
    display: flex;
}

.col-6{width: 100%;}
.col-5{width: calc(100% / 6 * 5);}
.col-4{width: calc(100% / 6 * 4);}
.col-3{width: calc(100% / 2);}
.col-2{width: calc(100% / 6 * 2);}
.col-1{width: calc(100% / 6);}

.row.justify-between{
    justify-content: space-between;
}

.row.justify-center{
    justify-content: center;
}

.row.v-align{
    height: 100%;
    align-items: center;
}

.row-wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}



/* TOOLBAR TOP */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
}

.toolbar-top{
    text-align: right;
    padding: 8px;
}


/* MAIN */

.user-cam{
    padding: 5px;
}

.cam-wrapper{
    width: 300px;
    height: 168px;
    position: relative;
    background-color: red;
    overflow: hidden;
}

.cam-wrapper img{
    width: 100%;
}

.cam-wrapper .badge{
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    padding: 2px 5px;
    color: white;
}

.cam-wrapper .badge span{
    font-size: .8rem;
}


/* TOOLBAR BOTTOM */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-left: 10px;
}

.toolbar-bottom{
    height: 100%;
}


.btn-textual{
    text-decoration: none;
    font-size: .8rem;
    margin: 20px;
    color: coral;
}

.btn-box{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    background-color: #4a4a4a;
}


.btn-box:hover{
    background-color: #2c2c2c;
}


.btn-box:hover .btn-textual{
    color: red;
}